<!-- ensure that all the materialize packages are loaded in the template that you are using this file -->
<footer class="page-footer blue darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Connect2india247</h5>
                <p class="grey-text text-lighten-4">Office address - Shop no-3, Ground floor, 
                    Nirmal Prem building, Sankoshai Road no-5, Dimna road, Mango Jamshedpur - 831012.
                    .</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Socials</h5>
                <ul>
                    <li><a class="white-text" href="#!">Instagram</a></li>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="#!">Twitter</a></li>
                    <li><a class="white-text" href="#!">Linkdein</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">ConnectOn</h5>
                <ul>
                    <li><a class="white-text" href="#!">Linkdein</a></li>
                    <li><a class="white-text" href="#!">Carrerguru</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Indians</a>
        </div>
    </div>
</footer>